<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Thanks for connecting!</h1>
    <p class="lead">Now that you have shared your google page you can see below your JSON Web Token. You should be able to
      access engineering change information with this token.
    </p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">User ID</h5>
    <p class="card-text">{{username}}</p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">JSON Web Token</h5>
    <p class="card-text">{{jwt}}</p>
  </div>
</div>

</div>